/* Общий стиль страницы */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Шапка */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff29a2; /* Ярко-розовый фон */
    padding: 20px;
}

.logo {
    max-height: 50px;
    margin-right: 10px;
}

.title {
    max-height: 50px;
}

/* Слайды */
.slides {
    text-align: center;
    padding: 20px;
}

.slide {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

/* Кнопка */
.button-container {
    text-align: center;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #ff29a2;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #e12291;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Футер */
footer {
    background-color: #ff29a2;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

footer a.contact-link {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

footer a.contact-link:hover {
    text-decoration: none;
    color: #e12291;
}